* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #ADD8E6;
  font-family: 'Nerko One', cursive;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  text-align: center;
}

header > h1{
  color: white;
  font-size: 50px;
}                        /* /Intestazione*/

.carta{                  /* Carte*/
  position: relative;
  margin: 10px 5px;
  display: inline-block;
}

.carta, .background, .contenuto{
  width: 150px;
  height: 180px;
  background-color: white;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.background{
  background-image: url(../img/pattern.png);
  background-size: contain;
  }

.contenuto > img{
  padding-top: 15px;
  width: 100px;
  height: 120px;
}

.background, .contenuto{
  position: absolute;
}

.background{
  z-index: 3;
}

.contenuto{
  z-index: 2;
  color: orange;
}

.carta:hover .background{
  z-index: 1;
}                  /* /Carte*/
#speciale > .background{
  z-index: 1;
}
#speciale h2{
  color: fuchsia;
}
