* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #ADD8E6;
  font-family: 'Nerko One', cursive;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

header > h1{
  color: white;
  text-align: center;
  font-size: 60px;
}                        /* /Intestazione*/
